.colorize-container {
  display: flex;
  justify-content: space-around;
}

.colorize-item {
  width: 17px;
  height: 17px;
  /* background-color: rgb(255, 165, 165); */
  margin: 1px 0 1px 0;
  border-radius: 50%;
  border: 2px;
  filter: saturate(150%);
}

.colorize-item:hover{
  filter: saturate(300%) brightness(95%) contrast(110%);
}